//media-query
$bp-sp: 561px;
$bp-tablet: 961px;
$bp-pc-wide: 1400px;

@mixin tablet {
  @media screen and (min-width: $bp-sp) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: $bp-tablet) {
    @content;
  }
}
