@use '_lib/_mixin' as m;

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.count {
  text-align: right;
  color: #666;
}
.list {
  color: #fff;
  min-height: auto;
  @include m.tablet {
    min-height: 700px;
  }
}
.listItem {
  margin-top: 10px;
  padding-top: 12px;
  border-top: 1px dotted #ccc;
  a {
    color: #333;
    &:hover {
      .listItem__txtarea {
        opacity: 0.7;
      }
      img {
        transform: scale(1.2);
      }
    }
  }
  &__wrap {
    display: flex;
  }
  &__imgarea {
    width: 30%;
    overflow: hidden;
    img {
      transition: transform 0.3s;
    }
  }
  &__txtarea {
    width: 70%;
    padding-left: 20px;
    transition: opacity 0.3s;
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }
    &__foot {

    }
  }
  &__ttl {
    font-size: 16px;
    @include m.tablet {
      font-size: 20px;
    }
  }
  &__description {
    font-size: 12px;
    @include m.tablet {
      font-size: 14px;
    }
  }
}
.category {
  display: flex;
}
.categoryItem {
  font-size: 12px;
  padding: 0 12px;
  display: inline-block;
  background: #999;
  color: #fff;
  border-radius: 2px;
  margin-right: 8px;
  @include m.tablet {
    padding: 2px 12px;
  }
}
