@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


/* base */
body {
  /* font-size: .15em; */
  /* font-family: "游ゴシック Medium","Yu Gothic Medium","游ゴシック体","Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; */
  font-family: 'Noto Sans JP', 'Noto Sans', serif;
  line-height: 1.5;
  color: #333;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}